@use 'variables' as V;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: V.$fuente_principal;
    font-size: 1.5rem;

    &.fijar-body{
        overflow: hidden; //oculta el scroll
    }
    &.fijo-scroll{
      /*   padding-top: 71.53px; */
      padding-top: 64.14px;
    }
}
p{
    font-size: 2rem;
    color: V.$negro;
    line-height: 1.5;
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2, h3 {
    margin: 0 0 3rem 0;
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.7rem;
}
img{
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto;
}