@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    max-height: 40rem;
    min-height: 30rem;
    overflow: hidden;
    @include m.desktop {
        max-height: 50rem;
    }
    .overlay{
        position: absolute;
        background: rgb(141,0,255);
        background: linear-gradient(270deg, rgba(141,0,255,0.5) 0%, rgba(191,12,160,0.3) 100%);
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    video{
        width: 190%;
        display: block;
        @include m.desktop {
            width: 100%;
        }
    }
}
.contenido-video{
    z-index: 1;
    h2{
        color: v.$blanco;
        font-size: 5rem;
        margin: 0;
    }
    p{
        background-color: v.$rosa;
        display: inline-block; //toma el espacio que requiere
        padding: 1rem 2rem;
        color: v.$blanco;
        font-weight: 700;
        font-size: 1.5rem;
    }
}
